@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
/* gastylavs kvela htmlis elements bodysgan gansxvavebulia */
* {
    /* margin da padding gaadadgilebs sadac miutiteb */
    margin: 0;
    padding: 0;
}
body{
    background: url(backgroun3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar{
    /* es gvchirdeba rom gavcentrot */
    display: flex;
    justify-content: center;
    align-items: center;
    /* aqamde */
    font-family: "Rubik Bubbles";
    /* ra fotoc iqneba ukana fondze imis fotos aigebs */
    background: transparent;
    box-shadow: 5px 5px 5px orangered;
    /* moamrgvalebs rasac miutiteb  */
    border-radius: 25px;
}
ul,li, a{
    transition: 0.3s;
    /* mis gverdit wertili rom aris magas vashorebt list-styles gamoyenebit */
    list-style: none;
    /* es xazi rom movashorot sadac shegvidzlia davayenebt */
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    /* es gvchirdeba radgan movashorot xazi roca daakopireb xazs gichvenebs */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* aqamde */
    /* padding gvchirdeba rom gadavadgilot text */
    padding-left: 25px;
    padding-right: 25px;
    color: snow;
    cursor: pointer;
}
/* rodesac shevexebit texts romelic gvaq mitiebuli blue mis shexebis dros gamoachens lurj fers */
a:hover{
    color: blue;
    transform: translateX(15px);
}
/* rodesac davawvebit mititebul gilaks mashin is feri iqneba mwvane roca darefresheb isev is feri iqneba romelic aqamde iyo */
a:focus{
    color: green;
}
/* rodesac daawvebit mititebul gilaks mashin is feri iqneba stafilosferi */
a:active{
    color: orange;   
}
::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(58, 58, 224);
}
::-webkit-scrollbar-track {
    background-color: transparent; 
}