@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #9c27b0, #e91e63);
    font-family: "Rubik Bubbles";
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: 5px 5px 5px rgb(103, 1, 143);
    border-radius: 25px;
}

ul, li, a {
    transition: 0.3s;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    color: snow;
    cursor: pointer;
}

a:hover {
    color: blue; /* Red color on hover */
    transform: translateX(15px);
}

a:focus {
    color: green; /* Purple color on focus */
}

a:active {
    color: orange;   /* Orange color on active */
}


::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 224);
}

::-webkit-scrollbar-track {
    background-color: transparent; 
}